@model List<EpiDHL.Models.Cliente>

@{
    ViewBag.Title = "Ricerca";
}

<h2>Ricerca Cliente</h2>

@using (Html.BeginForm("Ricerca", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model[0].Nome, "Nome Cliente:")
        @Html.TextBoxFor(model => model[0].Nome, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Cerca</button>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (Model != null && Model.Count > 0)
{
    <h3>Risultati della ricerca:</h3>
    foreach (var cliente in Model)
    {
        <p>Cliente ID: @cliente.Cliente_ID</p>
        <p>Azienda: @cliente.Azienda</p>
        <p>Codice Fiscale: @cliente.Cod_Fisc</p>
        <p>Partita Iva: @cliente.PI</p>
        <p>Nome: @cliente.Nome</p>
        <p>Cognome: @cliente.Cognome</p>
        <p>Tel: @cliente.Tel</p>
        <p>Email: @cliente.Email</p>
        <div>
            @Html.ActionLink("Dettagli", "Dettagli", "Home", new { id = cliente.Cliente_ID }, new { @class = "btn btn-outline-success" })
        </div>
    }
}

